<style type="text/css">
body{
  font-family: Arial, Helvetica, sans-serif;
}
h1.title{
  text-align: center;
  font-size: 2em;
  background-color: #AED6F1;
}
h2{
  font-size: 1.75em;
}
code{
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25em;
}
pre{
  background-color: #F9F9F9;
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
div#TOC{
  background-color: #DDDDDD;
  padding-bottom: 1px;
}
p.auxdate{
  font-size: .75em;
  background-color: #EEEEEE;
  text-align: right;
}
table.relinfo{
  border-collapse: collapse;
}
th.relinfo,td.relinfo{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}
</style>
